@import "partials/variables.scss";
@import "partials/bubbles.scss";
@import "partials/setup.scss";
@import "partials/diveCard.scss";
@import "partials/signIn.scss";



html {
    font-size: 62.5%;
    background: #DBDBDB;
}

body {
    margin: 0;
    max-width: 100%;
    font-family: $baseFont;
    background: $baseColor1;
    font-size: 1.6rem;
}

.container-div {
    background: #DBDBDB;
}

header {
    width: 100%;
    background: $primaryColor2;
    top: 0;
    text-align: center;
    color: $baseColor1;
    padding-top: 5rem;
    padding-bottom: 2rem;
    h1 {
        font-family: $titleFont;
        font-size: 10rem;
        margin: 0; 
        text-transform: uppercase;
    }
    h3 {
        width: 436px;
        margin: 0 auto;
        font-size: 2.5rem;
        text-transform: none;
        @media (max-width: 450px) {
            width: 350px;
            font-size: 2rem;
        }
        @media (max-width: 355px) {
            width: 300px;
        }
    }
}

footer {
    width: 100%;
    min-height: 3rem;
    background: $baseColor2;
    color: $primaryColor;
    position: fixed;
    bottom: 0;
    text-align: center;
    a {
        color: $primaryColor;
        padding: 0 0.5rem;
    }
}

.nav {
    background: $accentColor2;
    width: 100%;
    height: 8rem;
    box-shadow: 0 2px 6px 0  hsla(0, 0%, 0%, 0.2);
    z-index: 150;
    .wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        padding: 1.5rem 0;
        .nav-img {
            width: 25%;
            padding: 0;
            margin: 0;
            min-height: 5rem;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
        }
        .nav-links {
            width: calc(75% - 50px);
            margin-left: 50px;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            min-height: 5rem;
        }
    }
}

.nav-img h4 {
    text-transform: uppercase;
    font-family: $titleFont;
    font-size: 3rem;
    padding: 0;
    margin: 0;
    color: $baseColor1;
    padding-left: 10px;
}
.nav-links a {
     padding: 10px;
     color: $baseColor1;
}
.nav-links a:last-of-type {
    padding-right: 0;
}

.sectionMainContainer {
    padding-top: 2rem;
    height: 100%;
    background: $baseColor1;
    width: 100%;
    padding-bottom: 20rem;
}

.userProfile {
    margin-bottom: 50px;
    .wrapper {
        background-color: $accentColor1;
        border-radius: 12px;
        padding: 10px;
        text-align: center;
        box-shadow: 0 2px 6px 0  hsla(0, 0%, 0%, 0.2);
    }
}

.logDiveButton {
    color: $primaryColor2;
    background: white;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
    width: 200px;
    margin: 0 auto;
    &:hover, &:focus {
        background: #DBDBDB;
        color: $baseColor2;
    }
}


ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    
}


h2 {
    font-family: $titleFont;
    font-size: 13rem;
    color: $accentColor2;
    font-weight: 700;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

h3 {
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    font-size: 3rem;
    color: $baseColor2;
}
a {
    text-decoration: none;
    text-transform: uppercase;
}

.wrapper {
    max-width: 1080px;
    margin: 0 auto;
}

.div-container {
    width: 100%
}

form {
    h4 {
        text-align: center;
    }
    button {
        width: 100%;
        text-decoration: none;
        text-transform: uppercase;
        color: $primaryColor2;
        background: $baseColor1;
        padding: 10px;
        border-radius: 12px;
        border: none;
        box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
        &:hover, &:focus {
            background: #DBDBDB;
            color: $baseColor2;
        }
    }
    input {
        width: 100%;
    }
}

.form-div {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

@media (max-width: 940px) {
    .userLoginContainer h2 {
        font-size: 14rem;
    }

    .userOptions h3 {
        font-size: 3rem;
    }

    .createUser, .userSignIn {
        font-size: 1.6rem;
    }

}

@media (max-width: 800px) {
    .userOptionsRow {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .userLoginContainer h2 {
        font-size: 10rem;
    }

}

.createUser form, .userSignIn {
    text-align: center;
}



@media (max-width: 767px) {
    .userLoginContainer h2 {
        font-size: 8rem;
    }
}

@media (max-width: 585px) {
    .userLoginContainer h2 {
        font-size: 6rem;
    }
    .userOptions h3 {
        font-size: 1.8rem;
    }
}

@media (max-width: 400px) {
    .userProfile {
        width: 300px;
        margin: 0 auto;
        h4 {
        margin: 0;
        }
    }
    .diveCard {
        width: 300px;
        margin: 0 auto;
    }
}
@media (max-width: 480px) {
    header {
        h1 {
            font-size: 6rem;
        }
    }
    .wrapper {
        max-width: 40rem;
    }
    .userProfile {
        margin-bottom: 50px;
        .wrapper {
            background-color: $accentColor1;
            border-radius: 12px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            box-shadow: 0 2px 6px 0  hsla(0, 0%, 0%, 0.2);
        }
    }
    .userOptions h3 {
    h3 {
        font-size: 1.8rem;
    }
}


@media (max-width: 320px) {
    body {
        height: 100%;
    }
    header { 
        height: 45rem;
        h1 {
            font-size: 5rem;
            }
        h3 {            
            font-size: 1.6rem;
            width: 100%;
            margin: 0;
            padding: 1rem;
        }
    }

    .wrapper {
        max-width: 30rem;
    }
    

    .nav {
        height: 100px;
    }

    .nav-img h4 {
        display: none;
    }

    .nav-img {
        width: 20%;
    }

    a {
        font-weight: regular;
    }

    .nav-link a {
        font-size: 1.2rem;
        padding: 0;
        text-align: center;
        width: 100%;
    }

    .addDiveCard h4 {
        font-size: 2.5rem;
    }

    .form-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .form-container-column {
        flex-direction: column;
        width: 100%;
        display: block;
    }

    .userLoginContainer h2 {
        font-size: 4rem;
    }

    .userOptions h3 {
        font-size: 1.8rem;
        text-align: center;
    }

    .userOptionsRow {
        flex-direction: column;
        height: 100%;
        background: none;
    }
}
}