
.addDiveCard, .diveCard {
    border-radius: 12px;
    padding: 40px;
    margin-bottom: 20px;
    background: #FFFFFF;
}

.diveCard {
    border: 6px solid $accentColor1;
    border-top: 6px solid $accentColor2;
    @media (max-width: 480px) {
        margin-bottom: 20px;
    }
}

.addDiveCard {
    border: 6px solid $primaryColor2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    @media (max-width: 849px) {
        width: 500px;
        margin: 0 auto;
    }
    @media (max-width: 530px) {
        width: 400px;
    }
    @media (max-width: 400px) {
        width: 300px;
    }
    form {
        padding-top: 2rem;
        .form-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            @media (max-width: 849px) {
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
            }
        }
    }
}

.form-container-column {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 50%;
    margin-bottom: 1.5rem;
    @media (max-width: 849px) {
        width: 100%;
    }
    input {
        width: 70%;
        border-bottom: 1px solid $baseColor2;
        @media (max-width: 849px) {
            width: 60%;
        }
    }
    label {
        width: 30%;
        border-bottom: 1px solid $baseColor2;
        @media (max-width: 849px) {
            width: 40%;
        }
    }
    textarea {
        width: 100%;
    }
}

.form-container-column:nth-child(odd) {
    margin-right: 2rem;
}


.diveCardLeft {
    float: left;
    width: 50%;
    @media (max-width: 400px) {
        float: none;
        width: 100%
    }
}

.diveCardRight {
    float: right;
    width: 50%;
    @media (max-width: 400px) {
        float: none;
        width: 100%
    }
}