
.userLoginContainer {
    height: 100%;
    background: #DBDBDB;
    .wrapper {
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 100%;
        z-index: 100;
        .userOptions {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 2.5rem;
            width: 80%;
            border-radius: 12px;
            box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
            background: $baseColor1;
        }
    }
}

ul.sign-in-links  {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    text-align: center;
    margin-top: 2rem;
}

li.sign-in-links-li {
    display: inline;
    margin: 20px 0;
    a {
        color: $primaryColor2;
        padding: 10px;
        border-radius: 12px;
        box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
        &:hover, &:focus {
            background: #DBDBDB;
            color: $baseColor2;
        }
    }
}

.userOptionsRow {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}
.createUser, .userSignIn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.8rem;
    width: 100%;
    button {
        padding: 1rem;
        border-radius: 1.5rem;
        background: $primaryColor2;
        font-size: 1.6rem;
    }  
}

.createUser {
    background-color: $baseColor1;
}