//COLORS
$baseColor1: rgba(255, 255, 255, 1);
$accentColor1: rgba(106, 142, 174, 1);
$primaryColor: rgba(192, 253, 251, 1);
$primaryColor2: rgba(100, 182, 172, 1);
$accentColor2: rgba(36, 106, 115, 1);
$baseColor2: rgba(22, 15, 41, 1);

//GOOGLE FONTS
//font-family: 'Muli', sans-serif;
//font-family: 'Philosopher', sans-serif;


$titleFont: 'Philosopher', sans-serif;
$subheadingFont: 'Muli', sans-serif;
$baseFont: 'Muli', sans-serif;